.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border: none;
        border-radius: .2rem;
        background-color: rgba($color-white, .5);
        border-bottom: .3rem solid transparent;
    }

    &__input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: .3rem solid $color-primary;
    }

    &__label {

    }
}